/**! GNU Affero General Public License v3.0. See LICENSE.md. Copyright 2023 Roy Wierer (Seda145). **/

/* Default widgets */

body {
	font-family: "Gill Sans", sans-serif;
	background-color: #110909;
	margin: 0;
}

.page {
	background-color: #00000080;
	height: calc(100vh - 120px);
	overflow: auto;
	border-radius: 10px;
	border: medium solid #666;
}

/* Disable some default fieldset styling which looks awful. Using fieldsets is just useful to disable groups of inputs. */
fieldset {
	min-width: 0;
	padding: 0;
	border: none;
	margin: 0;
}

button,
.button,
input[type=submit],
input[type=button],
input[type=radio],
input[type=checkbox],
label,
legend,
.tab {
	user-select: none;
}

legend {
	font-weight: bold;
}

legend, label, p, span, h1, h2, h3, h4, h5, h6 {
	color: white;
}

label > span {
	/* Make text within labels use the full width available. Block tags are not allowed. */
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
}

label:hover,
button:hover,
.button:hover,
input[type=checkbox]:hover,
input[type=radio]:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=file] {
	cursor: pointer;
}

label:hover {
	color: #06bff7;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  font-size: 18px;
  padding: 10px;
}

input[type=text],
input[type=number] {
	display: block;
}

textarea, 
button, 
.button,
pre,
input[type=submit], 
input[type=button], 
input[type=text], 
input[type=number],
input[type=file] {
	/* background-color: #384757; */
	border: none;
	color: white;
	font-size: 14px;
	padding: 4px;
	border-radius: 4px;
}

button,
.button,
input[type=submit],
input[type=button],
input[type=file]
label {
	transition: opacity 0.15s;
}

button:hover,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover,
label:hover {
	opacity: 0.8;
}

button, 
.button,
input[type=submit],
input[type=button],
input[type=file] {
	min-height: 40px;
	font-weight: bold;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-style-1 {
	padding: 5px 10px;
	color: white;
	font-size: 14px;
	border-radius: 4px;
	margin: 10px 7px;
	margin-left: 0;
	flex: 1;
	min-height: 40px;
}

.button-style-1:not(:disabled) {
	background-image: linear-gradient(0deg, #481719, #220509, #6a1c2b);
}

.button-style-1.active:not(:disabled),
.button-style-1:active:not(:disabled) {
	background-image: linear-gradient(0deg, #b91847, #661818, #390d06);
}

textarea {
	resize: none;
	min-height: 300px;
}

hr {
	border: none;
	border-bottom: medium dotted white;
	margin-bottom: 25px;
	padding-bottom: 25px;
}

.form-response {
	/* min-height: 250px; */
	max-height: 450px;
	background-color: #181e18;
	border: thin solid #226f8d;
	border-left: thin solid #3de851;
	overflow: auto;
}

input[type=radio],
input[type=checkbox] {
	width: 20px;
	height: 20px;
}

/* States */

.hide {
	display: none !important;
}
