.bass-guitar-visualizer {
	height: 350px;
	background-color: black;
	display: flex;
	flex-direction: row;
}

.bass-guitar-visualizer .tuning-wrap {
	display: flex;
	flex-direction: column;
}

.bass-guitar-visualizer .tuning-letter {
	font-size: 15px;
	color: white;
	align-self: center;
	border-right: medium solid #666;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 50px;
}

.bass-guitar-visualizer .note-visualizer {
	position: relative;
	overflow: hidden;
	display: flex;
	flex: 1;
}

.bass-guitar-visualizer .strings-wrap {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.bass-guitar-visualizer .string-line {
	height: 3px;
	background-image: linear-gradient(0.25turn, #fafafa, #666);
	margin: auto;
	width: 100%;
}

.bass-guitar-visualizer .notes-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}

.bass-guitar-visualizer .note-bar {
	display: flex;
	flex: 1;
	align-items: center;
	/* Still choppy */
	transition: transform 0.2s cubic-bezier(0,1.11,1,1);
}

.bass-guitar-visualizer .note {
	position: absolute;
	height: 32px;
	width: 55px;
	border-radius: 10px;
	border: medium solid rgb(0, 119, 230);
	background-color: #153342;
	display: flex;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.bass-guitar-visualizer .note > span {
	flex: 1;
	font-size: 18px;
}