/**! GNU Affero General Public License v3.0. See LICENSE.md. Copyright 2023 Roy Wierer (Seda145). **/

.bass-guitar-visualizer {
	height: 350px;
	background-color: black;
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
	border: thin solid #333;
}

.bass-guitar-visualizer .tuning-wrap {
	display: flex;
	flex-direction: column;
}

.bass-guitar-visualizer .tuning-letter {
	font-size: 15px;
	color: white;
	align-self: center;
	border-right: medium solid #666;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 50px;
}

.bass-guitar-visualizer .note-visualizer {
	position: relative;
	overflow: hidden;
	display: flex;
	flex: 1;
}

.bass-guitar-visualizer .strings-wrap {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.bass-guitar-visualizer .string-line {
	height: 3px;
	background-image: linear-gradient(0.25turn, #fafafa, #666);
	margin: auto;
	width: 100%;
}

.bass-guitar-visualizer .notes-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}

.bass-guitar-visualizer .note-bar {
	display: flex;
	flex: 1;
	align-items: center;
	/* Transition makes it easier on the eyes, not enough seems to be choppy. */
	transition: transform 0.2s cubic-bezier(0,1.11,1,1);
}

.bass-guitar-visualizer .note {
	position: absolute;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #153342;
	display: flex;
	align-items: center;
	text-align: left;
	overflow: hidden;
}

.bass-guitar-visualizer.color-string .note-bar[data-string-number="1"] .note > span {
	border-color: #d32626;
}

.bass-guitar-visualizer.color-string .note-bar[data-string-number="2"] .note > span {
	border-color: #dbdb10;
}

.bass-guitar-visualizer.color-string .note-bar[data-string-number="3"] .note > span {
	border-color: #1c7cf9;
}

.bass-guitar-visualizer.color-string .note-bar[data-string-number="4"] .note > span {
	border-color: #ff8f00;
}

.bass-guitar-visualizer .note.hit {
	border-color: white !important;	
	background-color: #666;
}

.bass-guitar-visualizer .note > span {
	font-size: 18px;
	padding: 5px;
	border: medium solid rgb(0, 119, 230);
	background-color: black;
	border-radius: 10px;
}