/**! GNU Affero General Public License v3.0. See LICENSE.md. Copyright 2023 Roy Wierer (Seda145). **/

.navigation {
	display: flex;
	margin-top: 30px;
}

.navigation .tab-wrap {
	display: flex;
	flex: 1;
	gap: 10px;
}
