/**! GNU Affero General Public License v3.0. See LICENSE.md. Copyright 2023 Roy Wierer (Seda145). **/

.pitch-detection {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 5px;
}

.pitch-detection .bar {
	height: 5px;
	background-color: #444;
	flex: 1;
	display: flex;
	align-self: center;
	border-radius: 8px;
}

.pitch-detection .bar.negative {
	flex-direction: row-reverse;
}

.pitch-detection .bar .fill {
	height: 5px;
	/* background-color: #85da5f; */
	background-color: #00b558;
	width: 0%;
	transition: width 0.2s linear;
}

.pitch-detection .target {
	background-color: #191717;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	border: medium solid #444;
	display: flex;
}

.pitch-detection .target.accurate {
	border-color: #00b558;
	transition: border-color 0.5s ease;
}

.pitch-detection .target-letter {
	margin: auto;
	color: white;
	font-size: 18px;
}

.pitch-detection .current-pos {
	position: absolute;
	width: 50px;
	top: 0;
	bottom: 0;
	/* shift to left half its own width */
	left: -25px;
	background-color: #ffffff35;
	height: 50px;
	margin: auto;
	border: medium solid white;
	border-radius: 100%;
	/* this transform uses the parent width to translate */
	transform: translatex(50cqw);
	transition: transform 0.05s linear;
}