/**! GNU Affero General Public License v3.0. See LICENSE.md. Copyright 2023 Roy Wierer (Seda145). **/

.rms-detection {
	width: 200px;
	background-color: black;
	display: flex;
	align-items: center;
	padding: 15px;
	border: thin solid white;
	font-size: 18px;
}