/**! GNU Affero General Public License v3.0. See LICENSE.md. Copyright 2023 Roy Wierer (Seda145). **/

.rms-detection {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.rms-detection .bar-wrap {
	flex: 1;
	display: flex;
	align-items: center;
	container-type: size;
	border: thin solid #666;
	height: 10px;
}

.rms-detection .bar {
	background-image: linear-gradient(90deg, #00b558 70%, orange 85%, red 100%);
	height: 100%;
	transition: width 0.1s linear;
	background-attachment: fixed;
}

.rms-detection .min-rms {
	background-color: white;
	height: 100%;
	width: 3px;
	position: absolute;
}