/**! GNU Affero General Public License v3.0. See LICENSE.md. Copyright 2023 Roy Wierer (Seda145). **/

.rms-detection {
	width: 100%;
	background-color: black;
	display: flex;
	align-items: center;
	padding: 15px;
	font-size: 18px;
}

.rms-detection .bar-wrap {
	flex: 1;
	display: flex;
	align-items: center;
	container-type: size;
	border: thin solid #666;
	height: 10px;
}

.rms-detection .bar {
	background-image: linear-gradient(90deg, green 70%, orange 85%, red 100%);
	height: 100%;
	transition: width 0.1s linear;
	background-attachment: fixed;
}

.rms-detection .min-rms {
	background-color: white;
	height: 100%;
	width: 3px;
	position: absolute;
}