/**! GNU Affero General Public License v3.0. See LICENSE.md. Copyright 2023 Roy Wierer (Seda145). **/

.song-control {
	display: flex;
	height: 60px;
	margin-top: 15px;
}

.song-control .control-wrap {
	display: flex;
	flex: 1;
	background-color: #db888826;
	padding-left: 15px;
	padding-right: 15px;
	gap: 15px;
	border-radius: 8px;
}

.song-control .display {
	flex: 1;
	display: flex;
	align-items: center;
}

.song-control .display .now-playing,
.song-control .display .now-playing-song {
	font-size: 17px;
	color: #fff;
}

.song-control .display .now-playing {
	margin-right: 10px;
}

.song-control .display .now-playing-song {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #ccc;
}

.song-control .buttons {
	display: flex;
	align-items: center;
	gap: 5px;
}

.song-control .buttons .button {
	border-radius: 100%;
	border: medium solid #661818;
	width: 50px;
	height: 50px;
	background-color: #111;
}

.song-control .buttons .button:hover {
	background-color: #505050;
}

.song-control .button.play {
	
}

.song-control .buttons .button.play::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-left: 10px solid #fff;
	border-bottom: 7px solid transparent;
	margin-right: -3px;
}

.song-control .buttons .button.pause::before {
	content: "";
	width: 4px;
	height: 12px;
	background-color: white;
	margin-right: 4px;
}

.song-control .buttons .button.pause::after {
	content: "";
	width: 4px;
	height: 12px;
	background-color: white;
}

.song-control .buttons .button.stop::after {
	content: "";
	width: 12px;
	height: 12px;
	background-color: white;
}

/* animated styling in response to playing a song. First the initial state has to be set. */

.song-control .now-playing,
.song-control .now-playing-song {
	opacity: 0;
}

.song-control.started-song .now-playing {
	animation: song-control-display-text 1.3s ease 0.5s 1 normal forwards;
}

.song-control.started-song .now-playing-song {
	animation: song-control-display-text 1.3s linear 1s 1 normal forwards;
}

@keyframes song-control-display-text {
	0% 		{ opacity: 0; }
	100% 	{ opacity: 1; }
}