/**! GNU Affero General Public License v3.0. See LICENSE.md. Copyright 2023 Roy Wierer (Seda145). **/

.song-list {
    background-color: black;
    height: calc(100vh - 125px);
    overflow: auto;
    margin-bottom: 0;
}
